<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat python IO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>Socket IO</h1>
    <ul id="message"></ul>
    <form id="messageform">
        <input type="text" id="messageInput" autocomplete="off" />
        <button>Send</button>
    </form>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ":" + location.port);
        document.getElementById('messageform').onsubmit = function name(event) {
            event.preventDefault();//no recargar la pagina sino de manera asincrona
            var messageInput = document.getElementById('messageInput');
            socket.emit('message', messageInput.value);//Emitir el mensaje 
            messageInput.value = "";
        }
        //Para mostrar la informacion
        socket.on('message', function (msg) {
            var ul = document.getElementById("messages")
            var li = document.createElement();
            li.appendChild(document.createTextNode(msg));//LLenar la informacion que viene del backend
            ul.appendChild(li);
        })
    </script>
</body>

</html>